.credicart-number{
  padding:3px;
  /* display:block; */
  border:none;
  /* border-bottom:1px solid #ccc; */
  width:100%;
}
.creditcard-ns{
  width: 50%;
  padding: 3px;
}
.creditcard-name{
  width: 100%;
  padding: 3px;
}
.test{
  width: 10%;
}